// Layout Table Styles
// Styling to do the fancy table layout stuff.

/**
Note: Nesting tables
`.layouttable` elements must be nested in a very specific manner:
They must have a container div wrapping them in order to prevent double-application of the border-spacing.

Thus: table.layouttable *.layouttable-container table.layouttable
Usually: table.layouttable *.layouttable-container > table.layouttable
But it does not need to be a direct child. (EG a form may be wrapping it...)

Note: Only use <tbody>.  <thead> is not recommended for layouttable.
**/

//////// General Layout

//// Base
.layouttable {
	width: 100%;

	> tr, > tbody > tr, > thead > tr {
		> td, > th {
			position: relative;
		}
	}
}

//// Z-Indexing
.layouttable {
	// This allows us to avoid covering anything with border elements
	z-index: 0;

	> tr, > tbody > tr, > thead > tr {
		> td, > th {
			z-index: 2;

			&:before, &:after {
				z-index: -1;
			}
		}
	}
}

.layouttable .layouttable-container {
	margin-top: (- ($layouttable-intercell-spacing + $layouttable-contentcell-padding));
	margin-left: (- $layouttable-intercell-spacing);
	margin-right: (- $layouttable-intercell-spacing);
	margin-bottom: (- $layouttable-intercell-spacing);
}

//// Cell spacing
.section {
	.layouttable {
		border-collapse: separate;
		border-spacing: $layouttable-intercell-spacing;
	}
}

//// Cell Padding
.layouttable {
	> tr, > tbody > tr, > thead > tr {
		> th {
			padding-top: 0;
			padding-bottom: 0;
		}

		> td {
			padding-top: $layouttable-contentcell-padding;
			padding-bottom: $layouttable-contentcell-padding;
		}
	}
}



//////// General Styling

//// Default Alignment
.layouttable {
	> tr, > tbody > tr, > thead > tr {
		> td, > th {
			text-align: left;
			vertical-align: middle;
		}
	}
}

//// General Font Work
.layouttable {
	> tr, > tbody > tr, > thead > tr {
		> td {
			&.title {
				.title-content > a {
					@extend %unlink-hoverable;
				}

				.item-detail, .description, .subboards, .thread-starter {
					color: $text-color-middle-dimmed;
					font-size: $text-size-detail;
				}
			}

			&.last-post {
				font-size: $text-size-note;
			}
		}
	}
}

.forum-index .layouttable {
	> tr, > tbody > tr, > thead > tr {
		> td {
			&.title .title-content > a {
				font-size: $text-size-header-secondary;
				font-family: $font-family-title;
			}
		}
	}
}

//// Table Headers
.layouttable {
	> tr, > tbody > tr, > thead > tr {
		> th {
			font-size: $text-size-table-header;
			font-weight: bold;
			font-family: $font-family-title;
			text-transform: uppercase;
			color: $text-color-middle-dimmed;
		}
	}
}

//// Fancy Dividers
.layouttable {
	> tr, > tbody > tr, > thead > tr {
	// tr {
		> td, > th {
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin-bottom: (- $spacing-general / 2 - 1px);
				border-bottom: 1px solid $border-column-separater-rgba;
			}
		}

		> th {
			&:after {
				border-bottom: 2px solid $border-column-edge-rgba;
			}
		}

		// &.forum-header, &:last-child {
		// 	td, th {
		// 		&:after {
		// 			border-bottom: 2px solid $border-column-edge-rgba;
		// 		}
		// 	}
		// }
		&:last-child {
			> td, > th {
				&:after {
					border-bottom: 2px solid $border-column-edge-rgba;
				}
			}
		}

		// Only adjust the bottom row's strokes down another pixel,
		// so that the header doesn't squish the cells.
		// .forum & {
			&:last-child {
				> td, > th {
					&:after {
						// It's better to use negative margins than negative positions.
						margin-bottom: (- $spacing-general / 2 - 2px);
					}
				}
			}
		// }
	// }
	}
}



//////// More specific styling: Forum Threads

//// Default Alignment
.layouttable {
	> tr, > tbody > tr, > thead > tr {
		> td, > th {
			&.last-post, &.post-count, &.thread-count, &.thread-views, &.thread-replies {
				text-align: right;
			}
		}
	}
}

//// Column Sizing
.layouttable {
	td, th {
		//// Forum threads
		// status is being inlined with the thread title.
		// &.status {
		// 	width: 30px;
		// 	font-size: $text-size-detail;
		// 	// TEMPORARY
		// 	> * {
		// 		display: none;
		// 	}
		// }

		&.post-count, &.thread-count, &.thread-views, &.thread-replies {
			width: 40px;
		}

		&.last-post {
			width: 30%;
		}
	}
}

//// Cell Styling
.layouttable {
	.new-posts > td, td.new-posts {
		background: $background-highlight-rgba;
	}

	.locked > td, td.locked {
		background: $background-stripes-image;
	}

	.hot {
		color: $text-color-attention;

		.description, .subboards, .thread-starter {
			color: inherit;
		}
	}

	.hot.new-posts > td, td.hot.new-posts {
		background: $background-highlight-2-rgba;
	}
}

//// Status Icons
.layouttable {
	td.with-status {
		white-space: nowrap;

		> .status {
			width: 30px;
		}

		> .status abbr {
			border-bottom: 0 none transparent;
		}

		// Note: This breaks down when titles are really long...
		// maybe there's another way to do this without making a tonne of extra markup.
		// Update: So, just adding a margin to the last element that's the width of the
		// status icon fixes this.
		// As far as I can tell, what's happening is this:
		// When td.with-status gets white-space:nowrap, inline blocks still have
		// their widths calculated as though they did wrap, which means any elements
		// too long to fit with others end up on a new line.
		// But, since these children are white-space:normal,
		// their contents DO wrap, but still at the full width if they have too much content.
		// Adding a margin to the last child is a bodge fix, but does reserve enough space
		// to offset the icon.
		// > .status, > .title-content {
		> * {
			white-space: normal;
			display: inline-block;
			vertical-align: middle;
		}

		> *:last-child {
			// 5px to make up for the space character between the inline blocks...
			margin-right: (30px + 5px);
		}
	}
}

//// Status Stuff: Status-Key Specific
.section.forum-status-key .layouttable {
	td.with-status {
		width: 25%;
	}
}

//// Border Overrides...
.layouttable {
	// Specific removals
	.message-center-controls {
		th, td {
			&:after {
				content: none;
				display: none;
			}
		}
	}
}

//////// More specific styling: Forum Thread
//// Table Headers
.layouttable.thread-post {
	> tr, > tbody > tr, > thead > tr {
		> th {
			font-size: $text-size-header-secondary;
			font-family: $font-family-title;
			font-weight: normal;
			font-family: $font-family-title;
			text-transform: none;
			color: $text-color-middle-dimmed;

			vertical-align: bottom;

			.post-title {
				float: left;
			}

			.post-date {
				font-size: $text-size-base;
				font-family: $font-family-copy;
				float: right;
			}
		}
	}
}

.layouttable.thread-post {
	> tr, > tbody > tr, > thead > tr {
		> td.member-info {
			width: 150px;
			vertical-align: top;
			color: $text-color-middle-dimmed;
		}
	}
}

.member-info {
	.member-portrait {
		max-width: 150px;
		max-height: 150px;
		background: $background-highlight-rgba;
	}

	.member-title {
		background: $background-highlight-rgba;
		font-size: $text-size-header-secondary;
		font-family: $font-family-title;
		text-align: center;
		padding-top: $spacing-general;
		padding-bottom: $spacing-general;
		margin-bottom: $spacing-general;
	}
}

.thread-post .content-body {
	color: $text-color-middle-bright;
}



//////// More specific styling: Message Center

//// Column Sizing
// These are going to be pretty specific...
.layouttable {
	> tr, > tbody > tr, > thead > tr {
		> td, > th {
			&.message-center-box-list {
				width: 25%;
			}

			&.sender, &.time {
				width: 20%;
			}
		}
	}
}

//// Cell Styling
.layouttable {
}

//// Border Overrides...
